@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Poppins', sans-serif;
}

/*! purgecss start ignore */
.contain img {
  object-fit: contain;
}
.cover img {
  object-fit: cover;
}

/*! purgecss end ignore */
